<h1>My Tasks</h1>
<button type="button" class="btn btn-default"><%= link_to "Create new task", new_item_path%></button> 

<hr>

<% @items.each do |item| %>
  <h3><%= link_to item.title, item %></h3>
  <p><%= item.description %></p>
<% end %>
